body{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
    background:#fff0f5;
}

/* LOGIN */

.login-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{
    width:400px;
    background:white;
    padding:35px;
    border-radius:25px;
    box-shadow:0 8px 25px rgba(255,182,193,0.4);
}

.login-card h1{
    text-align:center;
    color:#ff85c1;
    font-size:35px;
}

.subtitle{
    text-align:center;
    color:#999;
    margin-bottom:30px;
}

label{
    color:#ff85c1;
    font-weight:bold;
}

input{
    width:100%;
    padding:12px;
    border:1px solid #ffcce0;
    border-radius:12px;
    background:#fff8fb;
    box-sizing:border-box;
}

input:focus{
    border:1px solid #ff85c1;
    outline:none;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:12px;
    background:#ff85c1;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#ff69b4;
}

.error{
    background:#ffe0ec;
    color:#ff4f93;
    padding:10px;
    border-radius:10px;
    margin-bottom:20px;
}

/* HALAMAN */

.container{
    background:white;
    padding:25px;
    border-radius:25px;
    box-shadow:0 8px 25px rgba(255,182,193,0.3);
}

h2{
    color:#ff85c1;
}

.menu{
    margin-bottom:20px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th{
    background:#ffb6d5;
    color:#444;
}

th,td{
    border:1px solid #ffd9e8;
    padding:12px;
    text-align:center;
}

tr:nth-child(even){
    background:#fff7fa;
}

a{
    text-decoration:none;
    background:#ff85c1;
    color:white;
    padding:8px 15px;
    border-radius:10px;
    display:inline-block;
    margin:3px;
}

a:hover{
    background:#ff69b4;
}

img{
    border-radius:15px;
}

/* DASHBOARD */

.stat-box{
    width:220px;
    display:inline-block;
    background:white;
    padding:20px;
    margin:10px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 5px 20px rgba(255,182,193,0.3);
}

.stat-box h3{
    color:#ff85c1;
}

.stat-box h1{
    color:#ff69b4;
}